WpfApplication1/Service References/ServiceReference1/My_WebService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8090/My_WebService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService2" />
  <xs:element name="AddData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfService2" minOccurs="0" name="s" nillable="true" type="q1:Data" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDataResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfService2" minOccurs="0" name="GetCurrentDataResult" nillable="true" type="q2:ArrayOfData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AutherRequest">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Username" nillable="true" type="xs:string" />
  <xs:element name="AuthorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfService2" minOccurs="0" name="auhther" nillable="true" type="q3:Auther" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHotels">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfService2" minOccurs="0" name="Req" nillable="true" type="q4:HotelSearchRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHotelsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WcfService2" minOccurs="0" name="GetHotelsResult" nillable="true" type="q5:ArrayOfhotelsummary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>