WpfApplication1/Service References/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8090/My_WebService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8090/My_WebService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8090/My_WebService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService2" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_AddData_InputMessage">
    <wsdl:part name="parameters" element="tns:AddData" />
  </wsdl:message>
  <wsdl:message name="IService1_AddData_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetCurrentData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetCurrentData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentDataResponse" />
  </wsdl:message>
  <wsdl:message name="AutherRequest">
    <wsdl:part name="parameters" element="tns:AutherRequest" />
  </wsdl:message>
  <wsdl:message name="AutherRequest_Headers">
    <wsdl:part name="Username" element="tns:Username" />
  </wsdl:message>
  <wsdl:message name="AuthorResponse">
    <wsdl:part name="parameters" element="tns:AuthorResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetInfo_ExceptionHandelingInWCFFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/WcfService2" name="detail" element="q1:ExceptionHandelingInWCF" />
  </wsdl:message>
  <wsdl:message name="IService1_GetHotels_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHotels" />
  </wsdl:message>
  <wsdl:message name="IService1_GetHotels_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHotelsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetHotels_ExceptionHandelingInWCFFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/WcfService2" name="detail" element="q2:ExceptionHandelingInWCF" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="AddData">
      <wsdl:input wsam:Action="http://tempuri.org/IService1/AddData" message="tns:IService1_AddData_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IService1/AddDataResponse" message="tns:IService1_AddData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrentData">
      <wsdl:input wsam:Action="http://tempuri.org/IService1/GetCurrentData" message="tns:IService1_GetCurrentData_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IService1/GetCurrentDataResponse" message="tns:IService1_GetCurrentData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetInfo">
      <wsdl:input wsam:Action="http://tempuri.org/IService1/GetInfo" name="AutherRequest" message="tns:AutherRequest" />
      <wsdl:output wsam:Action="http://tempuri.org/IService1/GetInfoResponse" name="AuthorResponse" message="tns:AuthorResponse" />
      <wsdl:fault wsam:Action="http://tempuri.org/IService1/GetInfoExceptionHandelingInWCFFault" name="ExceptionHandelingInWCFFault" message="tns:IService1_GetInfo_ExceptionHandelingInWCFFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHotels">
      <wsdl:input wsam:Action="http://tempuri.org/IService1/GetHotels" message="tns:IService1_GetHotels_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IService1/GetHotelsResponse" message="tns:IService1_GetHotels_OutputMessage" />
      <wsdl:fault wsam:Action="http://tempuri.org/IService1/GetHotelsExceptionHandelingInWCFFault" name="ExceptionHandelingInWCFFault" message="tns:IService1_GetHotels_ExceptionHandelingInWCFFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddData">
      <soap:operation soapAction="http://tempuri.org/IService1/AddData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetCurrentData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInfo">
      <soap:operation soapAction="http://tempuri.org/IService1/GetInfo" style="document" />
      <wsdl:input name="AutherRequest">
        <soap:header message="tns:AutherRequest_Headers" part="Username" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="AuthorResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionHandelingInWCFFault">
        <soap:fault use="literal" name="ExceptionHandelingInWCFFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetHotels">
      <soap:operation soapAction="http://tempuri.org/IService1/GetHotels" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionHandelingInWCFFault">
        <soap:fault use="literal" name="ExceptionHandelingInWCFFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:8090/My_WebService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>